section#steam-gallery {
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #eee;
}
#steam-gallery article {
  position: relative;
  max-width: 400px;
  display: flex;
  align-items: center;
}
#steam-gallery div {
  width: 400px;
  height: 400px;
  margin: auto;
}
#steam-gallery img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#steam-gallery p {
  max-width: 400px;
  text-align: center;
}
#steam-gallery .excerpt {
  margin-bottom: 0;
  padding: 2em;
  padding-bottom: 1em;
  background: #333;
  color: white;
}
#steam-gallery .excerpt p {
  margin-top: 0;
}
#steam-gallery span {
  font-size: 2em;
  cursor: pointer;
}
#steam-gallery .back {
  position: absolute;
  top: 50%;
  left: -30px;
  transition: transform 300ms;
}
#steam-gallery .next {
  position: absolute;
  top: 50%;
  right: -30px;
  transition: transform 300ms;
}
#steam-gallery .back:hover,
#steam-gallery .next:hover {
  transform: scale(1.5);
}
